body {
  font-family: Menlo, Monaco, "Source Code", monospace;
  margin: 0;
}

.container {
  margin: 1rem;
  padding: 1rem;
}

* {
  margin-top: 0;
}
  
hr {
  background: transparent;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  height: 0;
  margin: 2rem 0;
}

footer {
  text-align: center;
}

/* Reset */
button, input {
  font-family: inherit;
  font-size: inherit;
}

button, input {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  min-height: 48px;
  padding: 0 1rem;
}

button {
  background: #ddd;
  cursor: pointer;
  display: inline-grid;
  font-weight: bold;
  place-content: center;
}

label {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

label#toggle-timestamp {
  align-items: center;
  grid-template-columns: max-content auto;
}

button#log { background: lightblue }

button#warn { background: gold }

button#error { background: pink }

button#debug { background: lightgreen }

div#button-container {
  margin-bottom: 1rem;
}

details[open] summary {
  border-bottom: 2px solid black;
}

summary {
  padding: 1rem 0;
}

.details-body {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.details-body *:last-child {
  margin-bottom: 0;
}

img#image {
  background: whitesmoke;
  max-height: calc(48px * 4);
}

img#image:not([src]) {
  display: none;
}

#xhr-container {
  align-items: start;
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content auto;
  margin-bottom: 1rem;
}

/*
  Chrome can't handle buttons with grid, so flex box here
  Link: https://stackoverflow.com/questions/51815477/is-a-button-allowed-to-have-displaygrid
*/
#favicon {
  align-items: center;
  display: flex;
}

img#favicon-preview {
  margin-left: 1rem;
  height: 16px;
  width: 16px;
}